<%-include("../partials/header.ejs")%>
<ul>
<% flights.forEach((flight)=>{ %>
    <li>
        <%=flight.airline%>
        #<%=flight.flightNo%>
        From <%=flight.airport%>
        <!-- on <%=flight.departs.toLocaleDateString()%> -->
        Itinerary:  <%flight.destinations.forEach((dest)=>{ %>
                <%=dest.destAirport%>
        <%})%>
         <!-- on <%=flight.destinations[0].arrival.toLocaleDateString()%> -->
        <a href="/flights/<%=flight._id%>">Details</a>
        </li>
<%})%>
<p>
<a href="/flights/new"><button class="defaultButton">Add Flight </button></a>
</p>
</ul>
<%-include("../partials/footer.ejs")%>