<%-include("../partials/header.ejs")%>
<ul>
<% flights.forEach((flight)=>{ %>
    <li>
        <%=flight.airline%>
        #<%=flight.flightNo%>
        Departs from <%=flight.airport%>
        on <%=flight.departs.toLocaleDateString()%>
        </li>
<%})%>
<p>
<a href="/flights/new">Add a New Flight</a>
</p>
</ul>
<%-include("../partials/footer.ejs")%>