<%-include("../partials/header.ejs")%>
    <p>
        <%=flight.airline%>
        #<%=flight.flightNo%>
    </p>
    <p>
        Departs from <%=flight.airport%>
        on <%=flight.departs.toLocaleDateString()%>
    </p>
    <%flight.destinations.forEach((dest)=>{ %>
    <p>
        Arrives at <%=dest.destAirport%> on <%=dest.arrival.toLocaleDateString()%>
    </p>
    <%})%>

    <form action="<%=`/flights/${id}/destinations/add`%>" method="POST">
        <label for="toAirportSelect">To</label>
        <select id="toAirportSelect" name="destAirport" >
                <option value="DEN">DEN</option>
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
        </select>
        <input type="date" name="arrival" value="<%=today%>"></input>
        <button type="submit">Add Stop</button>
    </form>
    <p>
        <a href="/flights/"><button>Back</button></a>
        <a href="/flights/<%=id%>/tickets"><button>Tickets</button></a>
        <a href="/flights/<%=id%>/tickets/new"><button class="defaultButton">Book</button></a>
    </p>
<%-include("../partials/footer.ejs")%>

